<nav class="flex items-center justify-between flex-wrap bg-white p-6 shadow-md sticky top-0 z-50">
    <div class="flex items-center flex-shrink-0 text-black-600 mr-6">
      <span class="font-bold text-2xl tracking-tight"> flavorShare</span>
    </div>
    <div class="flex items-center space-x-4">
      <button class="bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
        Login
      </button>
      <button class="bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
        Logout
      </button>
    </div>
  </nav>
